:root{
    --boodash-bg-general:#f8f9fa;
    --boodash-light:#f7f7f7;
    --boodash-lighter:#ffffff;
    --boodash-searchbar:#e5e5e5;
    --boodash-dark:#5b5858;
    --boodash-darker:#142a40;
    --boodash-darkest:#2c3034;
    --boodash-primary:#1b72e8;
}

*{
    font-family: 'Roboto', sans-serif;
}

.bg_general{
    background-color: var(--boodash-bg-general);
}

.bg_searchbar{
    background-color: var(--boodash-searchbar);
}

.color_primary{
    background-color: var(--boodash-searchbar);
}

/* debug */
.debug{
    border: 1px dashed;
}

.debug.side_navbar{
    min-width: none;
    height: 100vh;
}

.debug.main_site_content{
    height: 100%;
    background-color: antiquewhite;
}

.debug.banner{
    height: 300px;
}

.debug.main_site_content .col-12{
height: 100vh;
}

.debug.card{
    height: 50%;
}
/* Header */

.navigation_bar{
    height: 4.3rem;
}



.side_navbar{
    background-color: var(--boodash-darker);
    color: var(--boodash-lighter);
}

.banner{
    background-color: var(--boodash-primary);
}

