:root{
    --boodash-bg-general:#f8f9fa;
    --boodash-light:#f7f7f7;
    --boodash-lighter:#ffffff;
    --boodash-searchbar:#e5e5e5;
    --boodash-dark:#5b5858;
    --boodash-darker:#142a40;
    --boodash-darkest:#2c3034;
    --boodash-primary:#1b72e8;
}

*{
    font-family: 'Roboto', sans-serif;
}

.bg_general{
    background-color: var(--boodash-bg-general);
}

.bg_searchbar{
    background-color: var(--boodash-searchbar);
}

.color_primary{
    background-color: var(--boodash-searchbar);
}

/* debug */
.debug{
    border: 1px dashed;
}
/* Header */

.navigation_bar{
    height: 4.3rem;
}