:root {
    --boodash-bg-general: #f8f9fa;
    --boodash-light: #f7f7f7;
    --boodash-lighter: #ffffff;
    --boodash-searchbar: #e5e5e5;
    --boodash-dark: #5b5858;
    --boodash-dark-50: #d3d3d381;
    --boodash-darker: #142a40;
    --boodash-darkest: #2c3034;
    --boodash-primary: #1b72e8;
    --boodash-bell: #ff8f00;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

/* Utility */

.bg_general {
    background-color: var(--boodash-bg-general);
}

.bg_searchbar {
    background-color: var(--boodash-searchbar);
}

.bg-color_primary {
    background-color: var(--boodash-searchbar);
}

.bg_darker {
    background-color: var(--boodash-darker);
}

.color_dark {
    color: var(--boodash-dark);
}

.color_lighter {
    color: var(--boodash-lighter);
}

.hidden {
    display: none;
}

.w_35{
    width: 35%;
}

.w_15{
    width: 15%;
}

/* Header */

.logo {
    width: 40px;
    object-fit: cover;
}

.logo_desktop {
    @media screen and (min-width: 992px) {
        display: inline-block;

        & > img {
            width: 100%;
        }
    }
}

.navbar form {
    width: calc(100% - 100px);

    &>input {
        background-color: var(--boodash-searchbar);
    }

    @media screen and (min-width: 992px) {
        width: calc(100% - 276px);
    }
}

.nav_item {
    
    & > a {
        color: var(--boodash-dark);
    }
}

#header {
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

main {
    width: calc(100% - 70px);
    height: calc(100% - 70);
    overflow-y: auto;
}

#wrapper {
    height: calc(100% - 70px);
}

/* sidebar */
.side_bar {
    height: 100%;
    width: 70px;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--boodash-darker);
    justify-content: space-between;
    align-items: center;


    & a {
        color: var(--boodash-lighter);
    }

}

#nav_bg:hover {
    background-color: var(--boodash-dark-50);
}

/* banner */
.banner {
    background-color: var(--boodash-primary);
}

#offcanvas{
    width: 100%;
}

.form_text_style
/* Card 1 */
.badge {
    .fa-solid {
        color: var(--boodash-dark);
    }
}

a.badge {
    border: 1px solid var(--boodash-dark);
}

/* card 4 */

.card_text {
    font-size: 0.8rem;
    padding-bottom: 2rem;
}

/* Media query */

@media screen and (min-width: 992px) {

    .side_navbar_option {
        display: inline;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }

    #wrapper {
        .side_bar_lg {
            width: 150px;
        }
    }
    #offcanvas{
        width: 50%;
    }
}